/* Theme Variables */
:root {
  /* Red Theme */
  --config-ui-x-red-bg: #d32f2f1a;
  --config-ui-x-red-border: #d32f2f1a;
  --config-ui-x-red-text: #f44336;

  /* Pink Theme */
  --config-ui-x-pink-bg: #c2185b1a;
  --config-ui-x-pink-border: #c2185b1a;
  --config-ui-x-pink-text: #e91e63;

  /* Purple Theme */
  --config-ui-x-purple-bg: #4213671a;
  --config-ui-x-purple-border: #4213671a;
  --config-ui-x-purple-text: #9c27b0;

  /* Indigo Theme */
  --config-ui-x-indigo-bg: #303f9f1a;
  --config-ui-x-indigo-border: #303f9f1a;
  --config-ui-x-indigo-text: #3f51b5;

  /* Blue Theme */
  --config-ui-x-blue-bg: #1976d21a;
  --config-ui-x-blue-border: #1976d21a;
  --config-ui-x-blue-text: #2196f3;

  /* Blue Grey Theme */
  --config-ui-x-blue-grey-bg: #455a641a;
  --config-ui-x-blue-grey-border: #455a641a;
  --config-ui-x-blue-grey-text: #607d8b;

  /* Navi Blue Theme */
  --config-ui-x-navi-blue-bg: #0000701a;
  --config-ui-x-navi-blue-border: #0000701a;
  --config-ui-x-navi-blue-text: #009;

  /* Green Theme */
  --config-ui-x-green-bg: #388e3c1a;
  --config-ui-x-green-border: #388e3c1a;
  --config-ui-x-green-text: #4caf50;

  /* Orange Theme */
  --config-ui-x-orange-bg: #ef6c001a;
  --config-ui-x-orange-border: #ef6c001a;
  --config-ui-x-orange-text: #ff9800;

  /* Grey Theme */
  --config-ui-x-grey-bg: #6161611a;
  --config-ui-x-grey-border: #6161611a;
  --config-ui-x-grey-text: #9e9e9e;

  /* Brown Theme */
  --config-ui-x-brown-bg: #4e342e1a;
  --config-ui-x-brown-border: #4e342e1a;
  --config-ui-x-brown-text: #795548;

  /* Amber Theme */
  --config-ui-x-amber-bg: #ff8f001a;
  --config-ui-x-amber-border: #ff8f001a;
  --config-ui-x-amber-text: #ffc107;

  /* Teal Theme */
  --config-ui-x-teal-bg: #00695c1a;
  --config-ui-x-teal-border: #00695c1a;
  --config-ui-x-teal-text: #009688;

  /* Cyan Theme */
  --config-ui-x-cyan-bg: #00838f1a;
  --config-ui-x-cyan-border: #00838f1a;
  --config-ui-x-cyan-text: #00bcd4;

  /* Deep Purple Theme */
  --config-ui-x-deep-purple-bg: #4527a01a;
  --config-ui-x-deep-purple-border: #4527a01a;
  --config-ui-x-deep-purple-text: #673ab7;

  /* Dark Mode Theme */
  --config-ui-x-dark-mode-bg: #ffa0001a;
  --config-ui-x-dark-mode-border: #ffa0001a;
  --config-ui-x-dark-mode-text: #ffa000;

  /* Dark Mode v1 Theme */
  --config-ui-x-dark-mode-v1-bg: #ffa0001a;
  --config-ui-x-dark-mode-v1-border: #ffa0001a;
  --config-ui-x-dark-mode-v1-text: #ffa000;

  /* Dark Mode Red Theme */
  --config-ui-x-dark-mode-red-bg: #d32f2f1a;
  --config-ui-x-dark-mode-red-border: #d32f2f1a;
  --config-ui-x-dark-mode-red-text: #d32f2f;

  /* Dark Mode Pink Theme */
  --config-ui-x-dark-mode-pink-bg: #c2185b1a;
  --config-ui-x-dark-mode-pink-border: #c2185b1a;
  --config-ui-x-dark-mode-pink-text: #c2185b;

  /* Dark Mode Purple Theme */
  --config-ui-x-dark-mode-purple-bg: #9c27b01a;
  --config-ui-x-dark-mode-purple-border: #9c27b01a;
  --config-ui-x-dark-mode-purple-text: #9c27b0;

  /* Dark Mode Indigo Theme */
  --config-ui-x-dark-mode-indigo-bg: #3f51b51a;
  --config-ui-x-dark-mode-indigo-border: #3f51b51a;
  --config-ui-x-dark-mode-indigo-text: #3f51b5;

  /* Dark Mode Blue Theme */
  --config-ui-x-dark-mode-blue-bg: #2196f31a;
  --config-ui-x-dark-mode-blue-border: #2196f31a;
  --config-ui-x-dark-mode-blue-text: #2196f3;

  /* Dark Mode Blue Grey Theme */
  --config-ui-x-dark-mode-blue-grey-bg: #607d8b1a;
  --config-ui-x-dark-mode-blue-grey-border: #607d8b1a;
  --config-ui-x-dark-mode-blue-grey-text: #607d8b;

  /* Dark Mode Green Theme */
  --config-ui-x-dark-mode-green-bg: #388e3c1a;
  --config-ui-x-dark-mode-green-border: #388e3c1a;
  --config-ui-x-dark-mode-green-text: #388e3c;

  /* Dark Mode Grey Theme */
  --config-ui-x-dark-mode-grey-bg: #9e9e9e1a;
  --config-ui-x-dark-mode-grey-border: #9e9e9e1a;
  --config-ui-x-dark-mode-grey-text: #9e9e9e;

  /* Dark Mode Brown Theme */
  --config-ui-x-dark-mode-brown-bg: #7955481a;
  --config-ui-x-dark-mode-brown-border: #7955481a;
  --config-ui-x-dark-mode-brown-text: #795548;

  /* Dark Mode Teal Theme */
  --config-ui-x-dark-mode-teal-bg: #0096881a;
  --config-ui-x-dark-mode-teal-border: #0096881a;
  --config-ui-x-dark-mode-teal-text: #009688;

  /* Dark Mode Cyan Theme */
  --config-ui-x-dark-mode-cyan-bg: #00838f1a;
  --config-ui-x-dark-mode-cyan-border: #00838f1a;
  --config-ui-x-dark-mode-cyan-text: #00838f;
}

/* Nav links */
.config-ui-x-red .nav-link {
  color: var(--config-ui-x-red-text);
}

.config-ui-x-pink .nav-link {
  color: var(--config-ui-x-pink-text);
}

.config-ui-x-purple .nav-link {
  color: var(--config-ui-x-purple-text);
}

.config-ui-x-indigo .nav-link {
  color: var(--config-ui-x-indigo-text);
}

.config-ui-x-blue .nav-link {
  color: var(--config-ui-x-blue-text);
}

.config-ui-x-blue-grey .nav-link {
  color: var(--config-ui-x-blue-grey-text);
}

.config-ui-x-navi-blue .nav-link {
  color: var(--config-ui-x-navi-blue-text);
}

.config-ui-x-green .nav-link {
  color: var(--config-ui-x-green-text);
}

.config-ui-x-orange .nav-link {
  color: var(--config-ui-x-orange-text);
}

.config-ui-x-grey .nav-link {
  color: var(--config-ui-x-grey-text);
}

.config-ui-x-brown .nav-link {
  color: var(--config-ui-x-brown-text);
}

.config-ui-x-amber .nav-link {
  color: var(--config-ui-x-amber-text);
}

.config-ui-x-teal .nav-link {
  color: var(--config-ui-x-teal-text);
}

.config-ui-x-cyan .nav-link {
  color: var(--config-ui-x-cyan-text);
}

.config-ui-x-deep-purple .nav-link {
  color: var(--config-ui-x-deep-purple-text);
}

.config-ui-x-dark-mode .nav-link {
  color: var(--config-ui-x-dark-mode-text);
}

.config-ui-x-dark-mode-v1 .nav-link {
  color: var(--config-ui-x-dark-mode-v1-text);
}

.config-ui-x-dark-mode-red .nav-link {
  color: var(--config-ui-x-dark-mode-red-text);
}

.config-ui-x-dark-mode-pink .nav-link {
  color: var(--config-ui-x-dark-mode-pink-text);
}

.config-ui-x-dark-mode-purple .nav-link {
  color: var(--config-ui-x-dark-mode-purple-text);
}

.config-ui-x-dark-mode-indigo .nav-link {
  color: var(--config-ui-x-dark-mode-indigo-text);
}

.config-ui-x-dark-mode-blue .nav-link {
  color: var(--config-ui-x-dark-mode-blue-text);
}

.config-ui-x-dark-mode-blue-grey .nav-link {
  color: var(--config-ui-x-dark-mode-blue-grey-text);
}

.config-ui-x-dark-mode-green .nav-link {
  color: var(--config-ui-x-dark-mode-green-text);
}

.config-ui-x-dark-mode-grey .nav-link {
  color: var(--config-ui-x-dark-mode-grey-text);
}

.config-ui-x-dark-mode-brown .nav-link {
  color: var(--config-ui-x-dark-mode-brown-text);
}

.config-ui-x-dark-mode-teal .nav-link {
  color: var(--config-ui-x-dark-mode-teal-text);
}

.config-ui-x-dark-mode-cyan .nav-link {
  color: var(--config-ui-x-dark-mode-cyan-text);
}

/* Nav links hover */
.config-ui-x-red .nav-link:hover,
.config-ui-x-red .nav-link:focus,
.config-ui-x-pink .nav-link:hover,
.config-ui-x-pink .nav-link:focus,
.config-ui-x-purple .nav-link:hover,
.config-ui-x-purple .nav-link:focus,
.config-ui-x-indigo .nav-link:hover,
.config-ui-x-indigo .nav-link:focus,
.config-ui-x-blue .nav-link:hover,
.config-ui-x-blue .nav-link:focus,
.config-ui-x-blue-grey .nav-link:hover,
.config-ui-x-blue-grey .nav-link:focus,
.config-ui-x-navi-blue .nav-link:hover,
.config-ui-x-navi-blue .nav-link:focus,
.config-ui-x-green .nav-link:hover,
.config-ui-x-green .nav-link:focus,
.config-ui-x-orange .nav-link:hover,
.config-ui-x-orange .nav-link:focus,
.config-ui-x-grey .nav-link:hover,
.config-ui-x-grey .nav-link:focus,
.config-ui-x-brown .nav-link:hover,
.config-ui-x-brown .nav-link:focus,
.config-ui-x-amber .nav-link:hover,
.config-ui-x-amber .nav-link:focus,
.config-ui-x-teal .nav-link:hover,
.config-ui-x-teal .nav-link:focus,
.config-ui-x-cyan .nav-link:hover,
.config-ui-x-cyan .nav-link:focus,
.config-ui-x-deep-purple .nav-link:hover,
.config-ui-x-deep-purple .nav-link:focus,
.config-ui-x-dark-mode .nav-link:hover,
.config-ui-x-dark-mode .nav-link:focus,
.config-ui-x-dark-mode-v1 .nav-link:hover,
.config-ui-x-dark-mode-v1 .nav-link:focus,
.config-ui-x-dark-mode-red .nav-link:hover,
.config-ui-x-dark-mode-red .nav-link:focus,
.config-ui-x-dark-mode-pink .nav-link:hover,
.config-ui-x-dark-mode-pink .nav-link:focus,
.config-ui-x-dark-mode-purple .nav-link:hover,
.config-ui-x-dark-mode-purple .nav-link:focus,
.config-ui-x-dark-mode-indigo .nav-link:hover,
.config-ui-x-dark-mode-indigo .nav-link:focus,
.config-ui-x-dark-mode-blue .nav-link:hover,
.config-ui-x-dark-mode-blue .nav-link:focus,
.config-ui-x-dark-mode-blue-grey .nav-link:hover,
.config-ui-x-dark-mode-blue-grey .nav-link:focus,
.config-ui-x-dark-mode-green .nav-link:hover,
.config-ui-x-dark-mode-green .nav-link:focus,
.config-ui-x-dark-mode-grey .nav-link:hover,
.config-ui-x-dark-mode-grey .nav-link:focus,
.config-ui-x-dark-mode-brown .nav-link:hover,
.config-ui-x-dark-mode-brown .nav-link:focus {
  filter: brightness(1.2);
}

/* Navigation tabs */
.nav-tabs .nav-link {
  color: inherit;
}

/* Checkbox */
.config-ui-x-red .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-red-text);
}

.config-ui-x-pink .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-pink-text);
}

.config-ui-x-purple .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-purple-text);
}

.config-ui-x-indigo .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-indigo-text);
}

.config-ui-x-blue .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-blue-text);
}

.config-ui-x-blue-grey .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-blue-grey-text);
}

.config-ui-x-navi-blue .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-navi-blue-text);
}

.config-ui-x-green .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-green-text);
}

.config-ui-x-orange .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-orange-text);
}

.config-ui-x-grey .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-grey-text);
}

.config-ui-x-brown .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-brown-text);
}

.config-ui-x-amber .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-amber-text);
}

.config-ui-x-teal .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-teal-text);
}

.config-ui-x-cyan .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-cyan-text);
}

.config-ui-x-deep-purple .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-deep-purple-text);
}

.config-ui-x-dark-mode .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-text);
}

.config-ui-x-dark-mode-v1 .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-v1-text);
}

.config-ui-x-dark-mode-red .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-red-text);
}

.config-ui-x-dark-mode-pink .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-pink-text);
}

.config-ui-x-dark-mode-purple .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-purple-text);
}

.config-ui-x-dark-mode-indigo .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-indigo-text);
}

.config-ui-x-dark-mode-blue .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-blue-text);
}

.config-ui-x-dark-mode-blue-grey .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-blue-grey-text);
}

.config-ui-x-dark-mode-green .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-green-text);
}

.config-ui-x-dark-mode-grey .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-grey-text);
}

.config-ui-x-dark-mode-brown .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-brown-text);
}

.config-ui-x-dark-mode-teal .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-teal-text);
}

.config-ui-x-dark-mode-cyan .form-check-input[type="checkbox"] {
  border-color: var(--config-ui-x-dark-mode-cyan-text);
}

/* Checkbox checked */
.config-ui-x-red .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-red-text);
}

.config-ui-x-pink .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-pink-text);
}

.config-ui-x-purple .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-purple-text);
}

.config-ui-x-indigo .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-indigo-text);
}

.config-ui-x-blue .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-blue-text);
}

.config-ui-x-blue-grey .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-blue-grey-text);
}

.config-ui-x-navi-blue .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-navi-blue-text);
}

.config-ui-x-green .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-green-text);
}

.config-ui-x-orange .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-orange-text);
}

.config-ui-x-grey .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-grey-text);
}

.config-ui-x-brown .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-brown-text);
}

.config-ui-x-amber .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-amber-text);
}

.config-ui-x-teal .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-teal-text);
}

.config-ui-x-cyan .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-cyan-text);
}

.config-ui-x-deep-purple .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-deep-purple-text);
}

.config-ui-x-dark-mode .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-text);
}

.config-ui-x-dark-mode-v1 .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-v1-text);
}

.config-ui-x-dark-mode-red .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-red-text);
}

.config-ui-x-dark-mode-pink .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-pink-text);
}

.config-ui-x-dark-mode-purple .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-purple-text);
}

.config-ui-x-dark-mode-indigo .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-indigo-text);
}

.config-ui-x-dark-mode-blue .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-blue-text);
}

.config-ui-x-dark-mode-blue-grey .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-blue-grey-text);
}

.config-ui-x-dark-mode-green .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-green-text);
}

.config-ui-x-dark-mode-grey .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-grey-text);
}

.config-ui-x-dark-mode-brown .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-brown-text);
}

.config-ui-x-dark-mode-teal .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-teal-text);
}

.config-ui-x-dark-mode-cyan .form-check-input:checked[type="checkbox"] {
  background-color: var(--config-ui-x-dark-mode-cyan-text);
}

/* Accordion button */
.config-ui-x-red .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-red-bg);
  border-color: var(--config-ui-x-red-border);
  color: var(--config-ui-x-red-text);
}

.config-ui-x-pink .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-pink-bg);
  border-color: var(--config-ui-x-pink-border);
  color: var(--config-ui-x-pink-text);
}

.config-ui-x-purple .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-purple-bg);
  border-color: var(--config-ui-x-purple-border);
  color: var(--config-ui-x-purple-text);
}

.config-ui-x-indigo .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-indigo-bg);
  border-color: var(--config-ui-x-indigo-border);
  color: var(--config-ui-x-indigo-text);
}

.config-ui-x-blue .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-blue-bg);
  border-color: var(--config-ui-x-blue-border);
  color: var(--config-ui-x-blue-text);
}

.config-ui-x-blue-grey .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-blue-grey-bg);
  border-color: var(--config-ui-x-blue-grey-border);
  color: var(--config-ui-x-blue-grey-text);
}

.config-ui-x-navi-blue .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-navi-blue-bg);
  border-color: var(--config-ui-x-navi-blue-border);
  color: var(--config-ui-x-navi-blue-text);
}

.config-ui-x-green .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-green-bg);
  border-color: var(--config-ui-x-green-border);
  color: var(--config-ui-x-green-text);
}

.config-ui-x-orange .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-orange-bg);
  border-color: var(--config-ui-x-orange-border);
  color: var(--config-ui-x-orange-text);
}

.config-ui-x-grey .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-grey-bg);
  border-color: var(--config-ui-x-grey-border);
  color: var(--config-ui-x-grey-text);
}

.config-ui-x-brown .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-brown-bg);
  border-color: var(--config-ui-x-brown-border);
  color: var(--config-ui-x-brown-text);
}

.config-ui-x-amber .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-amber-bg);
  border-color: var(--config-ui-x-amber-border);
  color: var(--config-ui-x-amber-text);
}

.config-ui-x-teal .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-teal-bg);
  border-color: var(--config-ui-x-teal-border);
  color: var(--config-ui-x-teal-text);
}

.config-ui-x-cyan .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-cyan-bg);
  border-color: var(--config-ui-x-cyan-border);
  color: var(--config-ui-x-cyan-text);
}

.config-ui-x-deep-purple .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-deep-purple-bg);
  border-color: var(--config-ui-x-deep-purple-border);
  color: var(--config-ui-x-deep-purple-text);
}

.config-ui-x-dark-mode .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-bg);
  border-color: var(--config-ui-x-dark-mode-border);
  color: var(--config-ui-x-dark-mode-text);
}

.config-ui-x-dark-mode-v1 .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-v1-bg);
  border-color: var(--config-ui-x-dark-mode-v1-border);
  color: var(--config-ui-x-dark-mode-v1-text);
}

.config-ui-x-dark-mode-red .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-red-bg);
  border-color: var(--config-ui-x-dark-mode-red-border);
  color: var(--config-ui-x-dark-mode-red-text);
}

.config-ui-x-dark-mode-pink .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-pink-bg);
  border-color: var(--config-ui-x-dark-mode-pink-border);
  color: var(--config-ui-x-dark-mode-pink-text);
}

.config-ui-x-dark-mode-purple .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-purple-bg);
  border-color: var(--config-ui-x-dark-mode-purple-border);
  color: var(--config-ui-x-dark-mode-purple-text);
}

.config-ui-x-dark-mode-indigo .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-indigo-bg);
  border-color: var(--config-ui-x-dark-mode-indigo-border);
  color: var(--config-ui-x-dark-mode-indigo-text);
}

.config-ui-x-dark-mode-blue .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-blue-bg);
  border-color: var(--config-ui-x-dark-mode-blue-border);
  color: var(--config-ui-x-dark-mode-blue-text);
}

.config-ui-x-dark-mode-blue-grey .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-blue-grey-bg);
  border-color: var(--config-ui-x-dark-mode-blue-grey-border);
  color: var(--config-ui-x-dark-mode-blue-grey-text);
}

.config-ui-x-dark-mode-green .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-green-bg);
  border-color: var(--config-ui-x-dark-mode-green-border);
  color: var(--config-ui-x-dark-mode-green-text);
}

.config-ui-x-dark-mode-grey .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-grey-bg);
  border-color: var(--config-ui-x-dark-mode-grey-border);
  color: var(--config-ui-x-dark-mode-grey-text);
}

.config-ui-x-dark-mode-brown .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-brown-bg);
  border-color: var(--config-ui-x-dark-mode-brown-border);
  color: var(--config-ui-x-dark-mode-brown-text);
}

.config-ui-x-dark-mode-teal .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-teal-bg);
  border-color: var(--config-ui-x-dark-mode-teal-border);
  color: var(--config-ui-x-dark-mode-teal-text);
}

.config-ui-x-dark-mode-cyan .accordion-button:not(.collapsed) {
  background-color: var(--config-ui-x-dark-mode-cyan-bg);
  border-color: var(--config-ui-x-dark-mode-cyan-border);
  color: var(--config-ui-x-dark-mode-cyan-text);
}

/* Background text */
.config-ui-x-red .text-bg-primary {
  background-color: var(--config-ui-x-red-text) !important;
}

.config-ui-x-pink .text-bg-primary {
  background-color: var(--config-ui-x-pink-text) !important;
}

.config-ui-x-purple .text-bg-primary {
  background-color: var(--config-ui-x-purple-text) !important;
}

.config-ui-x-indigo .text-bg-primary {
  background-color: var(--config-ui-x-indigo-text) !important;
}

.config-ui-x-blue .text-bg-primary {
  background-color: var(--config-ui-x-blue-text) !important;
}

.config-ui-x-blue-grey .text-bg-primary {
  background-color: var(--config-ui-x-blue-grey-text) !important;
}

.config-ui-x-navi-blue .text-bg-primary {
  background-color: var(--config-ui-x-navi-blue-text) !important;
}

.config-ui-x-green .text-bg-primary {
  background-color: var(--config-ui-x-green-text) !important;
}

.config-ui-x-orange .text-bg-primary {
  background-color: var(--config-ui-x-orange-text) !important;
}

.config-ui-x-grey .text-bg-primary {
  background-color: var(--config-ui-x-grey-text) !important;
}

.config-ui-x-brown .text-bg-primary {
  background-color: var(--config-ui-x-brown-text) !important;
}

.config-ui-x-amber .text-bg-primary {
  background-color: var(--config-ui-x-amber-text) !important;
}

.config-ui-x-teal .text-bg-primary {
  background-color: var(--config-ui-x-teal-text) !important;
}

.config-ui-x-cyan .text-bg-primary {
  background-color: var(--config-ui-x-cyan-text) !important;
}

.config-ui-x-deep-purple .text-bg-primary {
  background-color: var(--config-ui-x-deep-purple-text) !important;
}

.config-ui-x-dark-mode .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-text) !important;
}

.config-ui-x-dark-mode-v1 .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-v1-text) !important;
}

.config-ui-x-dark-mode-red .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-red-text) !important;
}

.config-ui-x-dark-mode-pink .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-pink-text) !important;
}

.config-ui-x-dark-mode-purple .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-purple-text) !important;
}

.config-ui-x-dark-mode-indigo .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-indigo-text) !important;
}

.config-ui-x-dark-mode-blue .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-blue-text) !important;
}

.config-ui-x-dark-mode-blue-grey .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-blue-grey-text) !important;
}

.config-ui-x-dark-mode-green .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-green-text) !important;
}

.config-ui-x-dark-mode-grey .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-grey-text) !important;
}

.config-ui-x-dark-mode-brown .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-brown-text) !important;
}

.config-ui-x-dark-mode-teal .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-teal-text) !important;
}

.config-ui-x-dark-mode-cyan .text-bg-primary {
  background-color: var(--config-ui-x-dark-mode-cyan-text) !important;
}
